For Bootstrap Table*/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
}

a.edit {
	color: #4089e6;
}

a.delete {
	color: #e62424;
}

a.cancel {
	color: #bb6a02;
}

a.save {
	color: #0a7928;
}

a.refresh {
	color: #0e89f7;
}

.btn {
	border: 0;
}

/*For Datatables*/
th.dt-center, 
td.dt-center { 
	text-align: center; 
}

.mask{
    display: none; /*This hides the mask*/
}

.mask .loading {
    font-size: 40px;
    color: #ffffff;
    margin: auto 0;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 37%;
    background-color: transparent;
}

.ajax{
    display: block !important;
    width: 100%;
    height: 100%;
    position: absolute; /*required for z-index*/
    z-index: 8000; /*puts on top of everything*/
    background-color: #000;
    opacity: 0.7;
}
.datepicker{z-index:1151 !important;}

/* wrap bs label */
.label-wrap {white-space: normal;vertical-align: baseline;display: block;height: auto;text-align: left;}
textarea.v-only{resize: vertical;}
textarea.h-only{resize: horizontal;}
textarea.noresize{resize: none;}
.form-horizontal{}

.dataTables_wrapper .col-sm-12 {padding:0;}
.dataTables_wrapper .col-sm-12 .table{margin: 0px!important;}

/* margin helper */
.mrgB15 {margin-bottom: 15px;}
.mrgT15 {margin-top: 15px;}
.mrgL15 {margin-left: 15px;}
.mrgR15 {margin-right: 15px;}
.mrgA15 {margin: 15px;}
/* padding helper */
.padB15 {padding-bottom: 15px;}
.padT15 {padding-top: 15px;}
.padL15 {padding-left: 15px;}
.padR15 {padding-right: 15px;}
.padA15 {padding: 15px;}

.selectize-dropdown  { border-radius: 0px!important; }
.selectize-control .selectize-input{ border-radius: 0px!important; }
.selectize-control .disabled{     background: #DEDEDE;    }
.selectize-control.input-sm .selectize-input{min-height: 30px; height: 30px;   padding: 5px 4px 6px;}
.has-error .selectize-input {border-color: #f2a696;
   color: #d68273;}
.selectize-input.disabled{background: #eeeeee!important;}
/* label wrap */
.label-wrap {white-space: normal;vertical-align: baseline;display: block;height: auto;text-align: left;}
textarea.v-only{resize: vertical;}
textarea.h-only{resize: horizontal;}
textarea.noresize{resize: none;}
.label-overflow {
    max-height: 350px;
    overflow: auto;
}
.input-daterange.input-group {width: 100%;}

.create-dist{    
    display: none;
    border: 1px solid #DDDDDD;
    position: absolute;
    z-index: 3;
    width: 100%;
    background: #ffffff;
    padding: 10px 15px;
    margin-top: 25px;
    box-shadow: 0 0 12px #333333;
    }


.row-details {
        padding-bottom: 5px;
    }
    .selected-row {
        background-color: #ffe99e !important;
    }
    .table-hover tbody > tr:hover {
        cursor: pointer;
    }

.hidden,.hide { display: none!important; }

.input-group .btn {height: 34px;}

span.fancytree-title{    width: 90%;
    white-space: normal;}

.shortcut {}
.shortcut:hover {cursor: pointer;text-decoration: none;}


.table td .form-control{width: 100%;margin: 0px}
.table td.editable{padding: 0px;}


.input-group-btn:last-child > .btn {border-radius: 0px!important;}

.shopping-view {   
     min-height: 529px;
}

.shopping-box .search-table {margin-top:0px!important }
.shopping-box .search-table {margin-top:0px!important }
.shopping-box .search-table tr {cursor: pointer;}

.approval-wrapper {border: 1px solid #DEDEDE;padding: 10px;margin-bottom: 15px;    max-height: 63vh;;
    overflow-x: hidden;}
.approval-wrapper .approval-item{margin-bottom: 10px;}
.approval-wrapper .approval-item .remarks-header{color: #FFFFFF;
    background-color: #6fb3e0;border: 1px solid #d5d5d5; border-radius: 5px 5px 0px 0px ; padding: 3px 2px 5px 3px;    border-bottom: 0;}
.approval-wrapper .approval-item .remarks-header .date{float: right;}
.approval-wrapper .approval-item .remarks-body{    border: 1px solid #d5d5d5; border-radius: 0px 1px 5px 5px; padding: 3px 2px 5px 3px;}
.approval-wrapper .approval-item .remarks-body p{    display: inline;}

.approval-form {padding-bottom: 0px;}
.approval-form textarea{height: 70px;}
.approval-form .btn{width: 50% ;     width: 49%;}
.approval-form .form-group{margin-bottom: 0px;}

.scrollable::-webkit-scrollbar {width: 7px; }
.scrollable::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
.scrollable::-webkit-scrollbar-thumb {    background-color: #6fb3e0;; outline: 1px solid slategrey; }


.apg-wrapper-header{    background-color: #307ecc; color: #FFF; line-height: 30px; padding-left: 12px;margin-top: 12px;}
.apg-wrapper {border: 1px solid #c5d0dc; padding: 10px 8px; margin-top: 0px;height: 500px; overflow-y: auto;}
.apg-wrapper .content{display: block; min-height: 38px; margin: 5px 0; padding: 8px 12px; background: #F8FAFF; border: 1px solid #DAE2EA; color: #7C9EB2; text-decoration: none; font-weight: bold; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.apg-wrapper .content > a{margin-right: 7px;}
.apg-wrapper .content > a:hover{text-decoration: none; opacity: 1; -moz-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2);} 
.apg-wrapper .child{    padding-left: 30px;display: none;}
.apg-wrapper .child.on{display:block;}

.submitable-title {position: relative;}
.submitable-title input{position: absolute; padding: 1px 11px; top: -4px; font-weight: 400;}

.freeze-history-wrapper{    height: 300px;
    overflow-y: auto;
    border: 1px solid #DEDEDE;    padding: 5px;}
.freeze-history-wrapper .item{    border-bottom: 1px solid #6fb3e0;
    margin-bottom: 5px;
    padding: 5px 5px;}
.freeze-history-wrapper .item .edit{    float: right; margin-right: 5px;}

#freeze-form .form-group {    margin-bottom: 5px;}
#freeze-form .form-group .control-label{   padding-top: 0px;}