body {font-size: 12px;}
.box { border : 1px solid #DEDEDE; padding: 6px 9px; }
.labelbox {font-weight: 500; padding: 6px 9px;font-weight: 700;  }
td {  width: 8.30%;}	
.minh100{    /*sets the height for all browsers to auto*/
  /*height: auto !important;*/
  /*sets height (which acts like min-height) to your set size
     for IE, since it doesn't understand !important */
  /*height: 100px;*/
  /*set min-height for other browsers that understand !important*/
  height: 100px;
}
.mgrB15{    margin-bottom: 15px;}
.text-center {text-align: center;}
.col-xs-12{width: 100%}
table {width: 100%}
table tr td { vertical-align: text-top;}
