.selectize-control.filter::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(/img/loading.gif);
    background-size: 16px 16px;
    opacity: 0;
}
.selectize-control.filter.loading::before {
    opacity: 0.4;
}

.selectize-control .selectize-dropdown [data-selectable] {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.selectize-control .selectize-dropdown .by {
    font-size: 11px;
    opacity: 0.8;
}
.selectize-control .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}
.selectize-control .selectize-dropdown .title {
    display: block;
}
.selectize-control .selectize-dropdown .description {
    font-size: 12px;
    display: block;
    opacity: 0.5;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.selectize-control .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.selectize-control .selectize-dropdown .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
}
.selectize-control .selectize-dropdown .meta li span {
    font-weight: bold;
}
.selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 50%;
    right: 34px;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 0;
    background: url(/img/loading.gif);
    background-size: 16px 16px;
    opacity: 0;
}
.selectize-control.loading::before {
    opacity: 0.4;
}